@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,900;1,300;1,400;1,600;1,900&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$colors: (base-1: #EDE0D4, base-2: #E6CCB2, base-3: #B08968, accent-1: #E4BF83, accent-2: #CCA36D, accent-3: #9B7851, neutral-1: #7A6048, neutral-2: #755B42, neutral-3: #695038);
$paddings: (none: 0, small: 0.5rem, medium: 1rem, large: 1rem);
$margins: (none: 0, small: 0.4rem, medium: 0.8rem, large: 1rem);