@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,900;1,300;1,400;1,600;1,900&family=Kanit:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Chivo:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Source+Code+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
$primary-font: 'Kanit', sans-serif;
$secondary-font: 'Chivo', sans-serif;
$smallest-scale: 0.8;
$smaller-scale: 0.9;
$normal-scale: 1;
$larger-scale: 1.1;
$largest-scale: 1.2;
$fast-speed: 0.1s;
$medium-speed: 0.3s;
$slow-speed: 0.8s;
$slowest-speed: 1s;
$colors: (base-1: #EDE0D4, base-2: #E6CCB2, base-3: #B08968, accent-1: #E4BF83, accent-2: #CCA36D, accent-3: #9B7851, neutral-1: #7A6048, neutral-2: #755B42, neutral-3: #695038);