@import './utils.scss';
$div-positions: all, top, left, bottom, right;
$styles: (italic: italic, normal: normal);
$weights: (normal: normal, bold: bold, light: lighter, auto: null);
$alignments: left, right, center, justify;
.italic {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}
@each $font-size, $size in $font-sizes {
    .size-#{$font-size} {
        font-size: $size;
    }
}
@each $weight-name, $weight in $weights {
    .weight-#{$weight-name} {
        font-weight: $weight;
    }
}
@each $color-name, $color in $colors {
    .color-#{"" + $color-name} {
        @media (prefers-color-scheme: dark) {
            color: color($color-name, dark);
        }
        @media (prefers-color-scheme: light) {
            color: color($color-name, light);
        }
    }
}
@each $alignment in $alignments {
    .alignment-#{$alignment} {
        text-align: $alignment;
    }
}
@each $div-position in $div-positions {
    @each $padding-name, $padding in $paddings {
        .padding-#{$div-position}-#{$padding-name} {
            @if ($div-position == all) {
                padding: $padding;
            }
            @else {
                padding-#{$div-position}: $padding;
            }
        }
        .padding-#{$div-position}--#{$padding-name} {
            @if ($div-position == all) {
                padding: -$padding;
            }
            @else {
                padding-#{$div-position}: -$padding;
            }
        }
    }
}

@each $div-position in $div-positions {
    @each $margin-name, $margin in $margins {
        .margin-#{$div-position}-#{$margin-name} {
            @if ($div-position == all) {
                margin: $margin;
            }
            @else {
                margin-#{$div-position}: $margin;
            }
        }
        .margin-#{$div-position}--#{$margin-name} {
            @if ($div-position == all) {
                margin: -$margin;
            }
            @else {
                margin-#{$div-position}: -$margin;
            }
        }
    }
}

.can-click {
    cursor: pointer;
    pointer-events: auto;
}